*.DS_Store
/node_modules
/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.idea
/www/node_modules
/www/dist
/www_new/node_modules
Envoy.blade.php
/public/storage


